@import "tailwindcss";
@theme {
  --color-primary: #ff8c00;
  --color-secondary: #000000;
  --color-tertiary: #2c2c2c;
}

@font-face {
  font-family: "exotc350bdbtbold";
  src: url("/fonts/exotc350-bd-bt/exotc350bdbtbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .para_text {
    @apply text-center text-sm text-secondary mb-8;
  }
}
.stat-card {
  @apply text-center flex flex-col items-center justify-center gap-1;
}

.stat-number {
  @apply text-primary font-bold text-2xl;
}

.stat-label {
  @apply text-secondary text-xs;
}

.info-block {
  @apply md:w-1/2 px-8 text-center;
}

.info-title {
  @apply text-xl font-bold text-secondary mb-4;
}

.info-text {
  @apply text-xs text-secondary leading-relaxed;
}
.main_container {
  @apply bg-[#252D30] text-white pt-10 pr-0 md:h-screen;
}
.process_head {
  @apply md:flex md:justify-between items-center gap-8 mt-4;
}
.subtext {
  @apply xl:text-lg md:text-sm  font-semibold text-white;
}
