@import "tailwindcss";
@theme {
  --color-primary: #ff8c00;
  --color-secondary: #000000;
  --color-tertiary: #2c2c2c;
}

@font-face {
  font-family: "exotc350bdbtbold";
  src: url("/fonts/exotc350-bd-bt/exotc350bdbtbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .heading {
    @apply text-secondary uppercase font-semibold text-3xl text-center;
  }
}
.sub_heading {
  @apply font-medium text-secondary text-2xl;
}
.image_card {
  @apply flex flex-col xl:p-20  p-10 rounded-lg border border-gray-300;
  display: flex;
  align-items: center;
  justify-content: start;
}

.image_card img {
  flex-grow: 1;
}

.image_card p {
  text-align: center;

  width: max-content;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech_card {
  @apply grid grid-cols-2 md:grid-cols-3 gap-4 mt-5;
}
@media (min-width: 1440px) {
  .image_card p {
    font-size: 1.5rem;
  }
}
