/* styles/testimonials.css */
@import "tailwindcss";
@theme {
  --color-primary: #ff8c00;
  --color-secondary: #000000;
  --color-tertiary: #2c2c2c;
}

@layer components {
  .testimonial-card {
    @apply relative border-l-2 border-[#000000] p-4;
  }

  .testimonial-header {
    @apply font-semibold flex items-center xl:text-xl text-sm space-x-4;
  }

  .testimonial-para {
    @apply text-secondary md:mt-1 xl:mt-4 leading-relaxed  md:whitespace-pre-line  mt-2  xl:text-sm md:text-sm;
  }
  .testimonal_name {
    @apply md:mt-2 xl:mt-6 text-xs text-start;
  }

  .testimonial-position {
    @apply text-xs text-start;
  }
}

/* General layout */
.menu-content {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;

  animation: fadeIn 0.3s ease-in;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.menu-content .menu-left {
  width: 60% !important;
}

/* Close button */
.menu-close-btn {
  position: absolute;
  background-color: var(--primary-color);
  top: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  margin-right: 8rem;
}

/* Left section */
.menu-left {
  padding: 3rem 0;
  background-color: #fffcee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

.menu-link {
  font-size: 1.5rem;
  color: #1a1a1a;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.menu-link:hover {
  color: #ff8c00;
}

/* Right section */
.menu-right {
  width: 100%;
  background-color: #ff8c00;
  padding: 1.5rem;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

/* Headings */
.menu-right h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.menu-right h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/* Connect button */
.connect-btn {
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  width: 9rem;
  text-align: center;
  border-radius: 9999px;
}

/* Social icons */
.menu-social-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

/* Email & Phone section */
.contact-info img {
  width: 30px;
  height: 30px;
}
.connection {
  width: 40px;
  height: 40px;
}
.contact-info h2 {
  font-size: 1.25rem;
}

.contact-info h1 {
  font-size: 0.875rem;
  font-weight: 300;
}

/* Responsive styles */
@media (min-width: 768px) {
  .menu-right {
    width: 50%;
    padding-top: 6rem;
  }

  .menu-link {
    font-size: 1.5rem;
  }

  .menu-social-icon,
  .contact-info img {
    width: 30px;
    height: 30px;
  }
}
