@import "tailwindcss";
@theme {
  --color-primary: #ff8c00;
  --color-secondary: #000000;
  --color-tertiary: #2c2c2c;
}
@layer components {
  .main_heading {
    @apply text-white uppercase tracking-wider mb-4 text-xl;
  }
  .main_sub_heading {
    @apply text-white text-xl xl:text-4xl md:text-3xl font-bold  mx-auto leading-tight;
  }
  .number {
    @apply text-[#FFFFFF] font-bold text-7xl xl:text-9xl md:text-7xl opacity-50 mr-4;
  }
  .heading {
    @apply text-white xl:text-xl md:text-sm font-bold mb-2;
  }
  .sub_heading {
    @apply text-white xl:text-sm text-xs md:text-xs;
  }
  .projects_heading {
    @apply text-gray-400 text-2xl mb-10;
  }
  .projects_image {
    @apply grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-x-10 md:gap-y-10;
  }
  .project_container {
    @apply md:py-45 md:mb-30 mb-60 py-70;
  }
  .hero_heading {
    @apply flex flex-col justify-center items-center text-center space-y-4 p-2 md:p-0;
  }
}
